/* /// Content \\\ */

/* Added #home.style-00 .container to account for div.container being added to style-home-00.
   div.container was not in the original mark-up and was causing layout problems because it 
   restricted width to 950 pixels.
*/
.style-home-00 .container { 
 background:#e0ebf4 url(/images/luther2010/backgrounds/html-body-gradient-background.png) repeat-x 0 -144px; 
}
#home .container-events-news-and-spotlight,
.spotlight {
 position:relative;	
}
nav.button {
 margin-bottom:1em;	
}

#nav-search ul {
 float:right;	
}
#search fieldset.overlabel-wrapper label.overlabel-apply {
 top:0.5em;
}
#search button {
 border:1px solid;
 top:2px;
}
#nav-audience {
 clear:none;	
 min-height:1px;
}
#nav-audience ul {
float:right;
}

footer.site-info {
 color:#cde; 
}
nav.site-info a,
nav.site-info a:link,
nav.site-info a:visited,
nav.site-info a:hover,
nav.site-info a:active,
nav.site-info a:focus {
 color:#cde; 
}

/* /// Group - Modular Float Management \\\ */
*:first-child+html .group {
 min-height:1px;	
}
/* \\\ Group - Modular Float Management /// */
