/* // HTML & Body \\ */

/* \\ HTML & Body // */

#nav-search li {
 border-left:none;
}
#nav-search li.index {
 border-left:1px solid #fff;	
}


#search input {
 margin:0 2px 0 0;	
}
#search button {
 position:relative;
 top:0px;
}

/* // JavaScript \\ */

/* \\ JavaScript // */


/* // Branding \\ */

/* \\ Branding // */


/* // Navigation \\ */

/* / Global Navigation \ */

/* \ Global Navigation / */

/* / Section Navigation \ */

/* / About \ */

/* \ About / */
/* / Work \ */

/* \ Work / */
/* \ Section Navigation / */
/* \\ Navigation // */


/* // Container \\ */


/* / Home \ */

/* \ Home / */
/* / News \ */

/* \ News / */
/* / About \ */

/* \ About / */
/* / Work \ */

/* \ Work / */
/* / Contact \ */

/* \ Contact / */
/* / Error \ */

/* \ Error / */ 

/* \\ Container // */

/* /// Content \\\ */

/* // Home \\ */

/* \\ Home // */

/* // Work \\ */

/* \\ Work // */

/* // News \\ */
/* / Listings \ */

/* Pagination */

/* \ Listings / */

/* / Article \ */

/* \ Article / */
/* \\ News // */

/* // About \\ */

/* \\ About // */

/* // Contact \\ */

/* \\ Contact // */

/* // Errors \\ */

/* \\ Errors // */


/* /// Content Secondary \\\ */

/* / Home \ */

/* \ Home / */
/* / News \ */

/* \ News / */
/* / Contact \ */

/* \ Contact / */


/* \\\ Content Secondary /// */
/* \\\ Content /// */





/* // Site Info \\ */

/* \\ Site Info // */
